/* This stylesheet uses the solarized color palette. It does, however,
 * not adhere to foreground and background recommendations. Also, accent
 * colors were darkened by 6 steps using Agave. This was done to enhance
 * contrast to satisfy WCAG 2 Level AAA.
 *
 * Summary:
 *  base 03 — optional emphatized content
 *  base 02 — body text / default code / primary content
 *  base 01 — comments / secondary content
 *  base 2 — background highlights
 *  base 3 — background
 * /

/* Poor man's color reset */

* {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
}

/* Sections */

body {
    background-color: #fdf6e3;  /* base 3 */
    color: #073642;  /* base 02 */
}

nav,
aside,
article {
    border-color: #586e75;  /* base 01 */
    -webkit-box-shadow: 0 1px 4px #93a1a1, 0 0 4em #eee8d5 inset;
    -moz-box-shadow: 0 1px 4px #93a1a1, 0 0 4em #eee8d5 inset;
    -o-box-shadow: 0 1px 4px #93a1a1, 0 0 4em #eee8d5 inset;
    box-shadow: 0 1px 4px #93a1a1, 0 0 4em #eee8d5 inset;  /* base 1, base 2 */
}

article::before,
article::after {
    border-color: #eee8d5;  /* base 2 */
}

h1, h2, h3, h4, h5, h6 {
    background-color: #fdf6e3;  /* base 3 */
    color: #002b36;  /* base 03 */
}

/* Text-level semantics */

a:link {
    background-color: #fdf6e3;  /* base 3 */
    border-color: #185785;  /* blue */
    color: #185785;  /* blue */
}

a:visited {
    background-color: #fdf6e3;  /* base 3 */
    border-color: #872353;  /* magenta */
    color: #872353;  /* magenta */
}

a:hover {
    background-color: #eee8d5;  /* base 2 */
    border-color: #185785;  /* blue */
    color: #185785;  /* blue */
}

a:visited:hover {
    background-color: #eee8d5;  /* base 2 */
    border-color: #872353;  /* magenta */
    color: #872353;  /* magenta */
}

a:focus {
    outline-color: #cb4b16;  /* orange */
}

code,
samp,
kbd {
    background-color: #eee8d5;  /* base 2 */
    color: #002b36;  /* base 03 */
}

